/* Reset some basic elements for consistent styling */
body, h1, form, table, td, input, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Light gray background for the body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    animation: fadeIn 2s ease-in;
}

.container {
    background-color: #ffffff; /* White background for the container */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; /* Maximum width for the container */
    padding: 20px;
    animation: fadeInUp 1s forwards, bounceIn 1s ease-out;
}

form {
    background-color: #f9f9f9; /* Light gray background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    opacity: 0;
    animation: fadeInUp 1s forwards, bounceIn 1s ease-out;
}

form table {
    width: 100%;
}

form input[type="text"], form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: border-color 0.3s, box-shadow 0.3s;
}

form input[type="text"]:focus, form input[type="password"]:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

form input[type="submit"] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, transform 0.3s;
    animation: pulse 1s infinite;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

form a:hover {
    color: #0056b3;
    transform: scale(1.1);
}


/* Keyframe animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideIn {
    from { transform: translateY(100%); }
    to { transform: translateY(0); }
}

@keyframes bounceIn {
    from { opacity: 0; transform: scale(0.5); }
    50% { opacity: 1; transform: scale(1.2); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
